@import "./vendors/fontawesome/scss/fontawesome.scss";
@import "./vendors/fontawesome/scss/brands.scss";
@import "./vendors/fontawesome/scss/solid.scss";

$background: #042b3e;
$light-background: #0d3549;
$accent-color: #57cfa9;
$main-color: white;
$light: #fee8af;

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button,
.btn {
  border: 1px solid $accent-color;
  background: none;
  color: $main-color;
  padding: 15px;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}

body {
  background: linear-gradient($background, $light-background);
  color: $main-color;
}

header {
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

footer {
  height: 80px;
  background: black;
}

.accent-color {
  color: $accent-color;
}

.accent-background {
  background: $accent-color;
}

.flex {
  display: flex;
}

.col-50 {
  margin: auto;
  width: 50%;
}

.center {
  text-align: center;
}

.btn-round {
  border-radius: 50%;
}

button:focus {
  outline: none;
}

button:hover,
.btn:hover {
  background: $accent-color;
  color: gray;
}

a:hover {
  color: gray;
}

ul.inline-nav-links {
  list-style-type: none;
  display: flex;
}

div.main-content {
  height: 100vh;
  margin: auto 40px;
  position: relative;
}

section.about-me {
  font-size: 24px;
}

div.floating-btn-container {
  position: absolute;
  bottom: 40px;
  right: 0;
  background: $accent-color;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  a {
    margin: auto;
  }
}

table.timeline {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

header {
  div.logo {
    margin: auto 40px;
    letter-spacing: 4px;
  }
  nav.main-nav {
    margin: auto;
    margin-right: 40px;
  }
}

footer {
  div.sns-container {
    margin: auto 40px;
    font-size: 28px;
  }
}

div.main-content {
  h2 {
    padding: 40px 0;
  }
}

div.landing-img {
  img {
    max-height: 650px;
    filter: drop-shadow(1px 2px 4px black) hue-rotate(-5deg) contrast(0.9);
  }
}

section.about-me {
  p {
    margin: 10px 0;
  }

  h1 {
    font-size: 3em;
    margin: 20px 0;
  }
}

div.contact-me-buttons {
  button,
  .btn {
    font-size: 20px;
  }
}

table.timeline {
  td {
    padding: 20px 40px;
    vertical-align: top;
    margin-bottom: 20px;
  }
  td.timeline-content:first-child {
    text-align: right;
    border-right: 2px solid $main-color;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background: $accent-color;
      border: 3px solid white;
      right: -11px;
      top: 20px;
      border-radius: 50%;
    }
  }
}

section.about-me {
  div.contact-me-buttons {
    margin: 40px 20px 40px 0px;
  }
}

ul.inline-nav-links {
  li.nav-link {
    padding: 10px;
    margin-right: 10px;
  }
  li.nav-link:hover,
  li.nav-link.active {
    border-bottom: 2px solid $accent-color;
    color: $accent-color;
  }
}

div.sns-container {
  li.nav-link:hover {
    border: none;
  }
  li.nav-link:hover a {
    color: $accent-color;
  }
}

table.timeline {
  td.timeline-start,
  td.timeline-present {
    text-align: center;
    border: none;
  }

  td.timeline-present {
    padding-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(50% - 14px);
      width: 24px;
      height: 24px;
      border: 3px solid $main-color;
      background: $accent-color;
      border-radius: 50%;
    }
  }

  td.timeline-start {
    padding-top: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: calc(50% - 14px);
      width: 24px;
      height: 24px;
      border: 3px solid $main-color;
      background: $accent-color;
      border-radius: 50%;
    }
  }
}
